<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">

            <form action="/campgrounds/<%=foundcamp._id %>/edit?_method=PUT" method="post" class="validate" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Tittle: </label>
                    <input type="text" class="form-control" name="campground[tittle]" id="title" placeholder="Tittle"
                        value="<%=foundcamp.tittle%>" required>
                </div>
               
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="campground[location]" class="form-control" id="location" placeholder="Location"
                        value="<%=foundcamp.location%>" required>
                </div>
             


                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price" name="campground[price]" value="<%=foundcamp.price%>" required>
                    </div>
                </div>
           
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="campground[description]" class="form-control" id="description" placeholder="description" value="<%=foundcamp.description%>" required><%=foundcamp.description%></textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02" name="images" multiple>
                    <!-- <label class="input-group-text" for="inputGroupFile02"></label> -->
                  </div>
                  <% foundcamp.images.forEach((img, i) => { %>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="img-<%=i%>" name="Delete[]" value="<%= img.filename %>">
                      <label class="form-check-label" for="img-<%=i%>">Delete?</label>
                      <!-- The label is associated with the checkbox using the "for" attribute -->
                    </div>
                  
                    <!-- Use the label element to wrap the image -->
                    <label for="img-<%=i%>">
                      <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="this is campimage">
                    </label>
                  <% }) %>
                  




                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
        
        </div>


       

   

        </form>

    </div>
    </div>
