<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylessheets/stars.css">
<link rel="stylesheet" href="/stylessheets/show.css">

  <div class="row">

    <div class="col-6">
    


 
      <div id="carouselExampleControls" class="carousel slide mb-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% if (camp.images.length > 0) { %>
            <% camp.images.forEach((img, i) => { %>
              <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                <img src="<%= img.url %>" class="d-block w-100" alt="">
              </div>
            <% }) %>
          <% } else { %>
            <div class="carousel-item active">
              <div class="no-image-placeholder">
                <span class="no-image-text">No image</span>
              </div>
            </div>
          <% } %>
        </div>
      
        <% if (camp.images.length > 1) { %>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% } %>
      </div>




      <div class="card mb-3">
        
      
            <div class="card-body">
              <h5 class="card-title">

                <%=camp.tittle%>
              </h5>
              <p class="card-text">
                <%=camp.description %>
              </p>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted">
                <%=camp.location %>

              </li>
              <li class="list-group-item text-muted">
                <p> by <%= camp.author.username%>
                </p>
              </li>
              <li class="list-group-item">$<%=camp.price %>/night</li>
            </ul>
            <% if(current_user && camp.author.equals(current_user)) {%>
              <div class="card-body">
                <a href="/campgrounds/<%=camp._id %>/edit" class="card-link"><button
                    class="btn btn-info">Edit</button></a>
                <form class="d-inline" action="/campgrounds/<%=camp._id %>/delete?_method=delete" method="post"> <button
                    class="btn btn-danger">Delete</button> </form>
              </div>
              <% } %>


      </div>

    </div>



    <div class="col-6">
    <% if(current_user){ %>

      <form action="/campgrounds/<%= camp._id %>/review" class="validate" novalidate method="post">

        <div class="mb-3">
         
          <fieldset class="starability-basic">
            <legend><h2>Review</h2></legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="review[ratings]" value="0" checked aria-label="No rating." />
            <input type="radio" id="second-rate1" name="review[ratings]" value="1" />
            <label for="second-rate1" title="Terrible">1 star</label>
            <input type="radio" id="second-rate2" name="review[ratings]" value="2" />
            <label for="second-rate2" title="Not good">2 stars</label>
            <input type="radio" id="second-rate3" name="review[ratings]" value="3" />
            <label for="second-rate3" title="Average">3 stars</label>
            <input type="radio" id="second-rate4" name="review[ratings]" value="4" />
            <label for="second-rate4" title="Very good">4 stars</label>
            <input type="radio" id="second-rate5" name="review[ratings]" value="5" />
            <label for="second-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>

        <div class="mb-3">
          <label for="review" class="form-label">Review Text </label>
          <textarea class="form-control" name="review[body]" id="review" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      
        <button class="btn btn-info mb-3">Post</button>
      </form>
<% } %>


      <% for(r of camp.reviews){ %>
        <div class="card mb-3 ">
          <div class="card-body">
            
            <h6 class="card-subtitle mb-2 text-muted"><%= r.author.username %>
            </h6>  
  <p class="starability-result" data-rating="<%= r.ratings %>">
    Rated: <%= r.ratings %>
  </p>
        
            <p class="card-text">Review: <%=r.body %>
            </p>

            <% if(current_user && r.author.equals(current_user)) {%>


              <form action="/campgrounds/<%=camp._id %>/review/<%= r._id %>?_method=DELETE" method="post"><button
                  class="btn btn-danger">Delete</button></form>


              <% } %>
          </div>
        </div>
        <% } %>
    </div>
